[user]
	name = Tomohiro Uno 
	email = uuuteenet@gmail.com
[ghq]
	root = ~/src
[core]
	excludesfile = ~/.gitignore_global
[alias]
	alias = !git config --get-regexp '^alias\\.' | sed 's/alias\\.\\([^ ]*\\) \\(.*\\)/\\1\\\t => \\2/' | sort
	s  = status
	ss = status -s
	sh = show
	a = add
	aa = add -A
	ap = add -p
	c = commit
	cm = commit -m
	cam = commit --amend
	camn = commit --amend --no-edit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
